.project
.settings
target

client/target
client/src/main/c++/build
client/src/main/c++/tags

server/.classpath
server/.project
server/.settings
server/target

server/core/.classpath
server/core/.project
server/core/.settings
server/core/target

server/sshd/.classpath
server/sshd/.project
server/sshd/.settings
server/sshd/target

server/main/.classpath
server/main/.project
server/main/.settings
server/main/key.pem
server/main/magrit.log
server/main/target

installer/.classpath
installer/.project
installer/.settings
installer/target

