.project
.settings

client/target

server/.classpath
server/.project
server/.settings
server/key.pem
server/key.ser
server/target

installer/.classpath
installer/.project
installer/.settings
installer/target

